h1 {
	text-align: center;
	font-family: verdana;
    font-size: 40px;
}

p {
	font-family: verdana;
	font-size: 20px;
}

body {
	padding: 20px;
}

button {
	margin-top: 10px;
	margin-bottom: 10px;
	line-height: 30px;
	font-family: verdana;
	font-size: 15px;
	padding: 10 20px;
	background: lightgrey;
	border: black;
	margin-right: 10px;
	width: 300px;
}
button:hover {
	background: grey;
}

div {
	margin-top: 10px;
}

/*canvas {
	width: 1024px;
	height: 1024px;	
	background-color: black;
}*/

input {
	size: 18px;
	margin-right: 20px;

}
.checked{
	color: #1565C0;
}
.unchecked{
	color:#E0E0E0
}

label {
	margin-right: 50px;
}

/*div#canvas-frame {
	border: none;
	cursor: crosshair;
	width: 100%;
	height: 600px;
	background-color: #EEEEEE;
}
*/

#gui {
  position: absolute;
  margin-top: 100px;
  left: 20px;
  z-index: 10;
}
